{% extends 'base.html.twig' %}

{% block title %}L'alliée des mamans | My Mom's Box{% endblock %}

{% block body %}

{#    Ma première section avec mon carousel#}
    <section class="row section-carousel">
        {#    Mon carousel#}
        <div id="carouselExampleFade" class="carousel slide carousel-fade col-12" data-ride="carousel">
        
            <div class="carousel-inner">
                
                <div class="carousel-item active overlay" data-interval="20000">
                    <img src="{{ asset('img/box_du_mois_fond_transparent.png') }}" class="d-block col-6 overlay-img"
                         alt="Mom's Box du mois">
                    <div class=" overlay-title col-6 font-helvetica-thin text-uppercase">Découvrez la Mom's Box du mois
                                                                                    !</div>
                    <a href="#" class="carousel-subscrib-btn font-allura"> Je veux ma Mom's Box </a>
                </div>
                
                <div class="carousel-item overlay" data-interval="20000">
                    <img src="{{ asset('img/moms_box_white_sans_lumière.png') }}" class="d-block col-6 overlay-img"
                         alt="My Mom's Box White">
                    <div class="overlay-title col-6 font-helvetica-thin text-uppercase">Abonnez-vous pour profiter de réductions
                                                                          exclusives</div>
                    <a href="#" class="carousel-subscrib-btn font-allura"> Je m'abonne </a>
                </div>
                
                <div class="carousel-item overlay" data-interval="20000">
                    <img src="{{ asset('img/moms_black_box_big.png  ') }}" class="d-block col-6 overlay-img"
                         alt="Mom's Black Box">
                    <div class="overlay-title col-6 font-helvetica-thin text-uppercase">Personnalisez la Mom's Box à
                                                                                        offrir
                                                                           !</div>
                    <a href="#" class="carousel-subscrib-btn font-allura"> J'offre une Mom's Box</a>
                </div>
            </div>
{#            Mes boutons previous/next#}
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    
{#    Ma partie bg-ruban-overlay ? #}
    <section class="row my-bg-ruban overlay">
        
        <div class=" m-auto pt-5">
            <h1 class="col-6 offset-1 font-helvetica-thin text-uppercase ">Recevez tous les mois une box surprise nécessaire au
                                                          quotidien d'une maman
            </h1>
            <h3 class="col-6 offset-2 pt-5 font-helvetica-thin">Avec ses produits certifiés <strong>100% d'origine
                    Biologique</strong> et ses accessoires d'une valeur supérieur à 60€, My Mom's Box vous
                gâtera d'attentions particulières. </h3>
            <p class="col-6 offset-2 pt-5 font-helvetica-thin txt-to-enlarge">Retrouvez dedans des produits <strong>Bien-être
                    et cosmétiques 100% Bio</strong>, des produits d'<strong>Entretient pour votre foyer</strong>, un
               <strong>livret personnalisé</strong>  à votre attention, et bien plus encore, pour seulement <strong>XX,XX
                                                                                                                    €/mois</strong> !</p>
            <div class="row mt-5 mb-5 btn-discover">
                <button class="btn font-helvetica-thin pt-5 pb-5" href="#">DECOUVRIR LA MOM'S BOX</button>
            </div>
        </div>
    </section>
    
{#    Partie comment ça marche#}
    <h1 class="font-helvetica-thin text-center mt-5">COMMENT CA MARCHE ?</h1>
    
    <section class="row portfolio-experiment pt-3">
        
        <div class="col-4 flex-column  how-div">
            <a href="#">
                <span class="text text-center ">Je m'abonne sans engagement</span>
                <span class="line -right"></span>
                <span class="line -top"></span>
                <span class="line -left"></span>
                <span class="line -bottom"></span>
            </a>
            <img src="{{ asset('img/femme_assise_ordi_profil.png') }}" alt="femme assise devant l'ordi"
                 class="image-comment">
            <p class="txt-infos font-helvetica-thin text-center">Je choisis l'abonnement qui me correspond le mieux !</p>
        </div>
        
        <div class="col-4 flex-column how-div">
            <a href="#">
                <span class="text text-center">Je suis livrée très rapidement</span>
                <span class="line -right"></span>
                <span class="line -top"></span>
                <span class="line -left"></span>
                <span class="line -bottom"></span>
            </a>
            <img src="{{ asset('img/livraison_moms_box_parachute_porte.png') }}" alt="livraison moms box" class="image-comment">
            <p class="txt-infos font-helvetica-thin text-center">Je reçois My Mom's Box à la maison ou au travail !</p>
        </div>
        
        <div class="col-4 flex-column how-div">
            <a href="#">
                <span class="text text-center">Je n'attends plus profiter </span>
                <span class="line -right"></span>
                <span class="line -top"></span>
                <span class="line -left"></span>
                <span class="line -bottom"></span>
            </a>
            <img src="{{ asset('img/moms_box_open_fond_transparent.png') }}" alt="" class="image-comment">
            <p class="txt-infos font-helvetica-thin text-center">My Mom's Box embellira
                                                              votre quotidien de bien-être et de bonne humeur !
                                                    .</p>
        </div>
     </section>
    
{#    Partie Mom's Box Products#}
    <section class="row mt-5">
        <h1 class="font-helvetica-thin col-10 offset-1 mb-5 mt-5">COUP D'OEIL SUR LES PRODUITS DE LA MOM'S BOX</h1>
    
        <div class="card-deck col-10 m-auto">
            
            <div class="card gold-shadow">
                <img class="card-img-top" src="{{ asset('img/produits d\'exemples/images.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bien-être & Beauté</h5>
                    <p class="card-text font-helvetica-thin">This is a wider card with supporting text below as a natural lead-in
                                                 to additional content. This content is a little bit longer.</p>
                </div>
                <div class="footer-my-card d-flex justify-content-center">
                    <a href="#" class=" btn-1 font-helvetica-thin p-4 text-uppercase">Voir le produit</a>
                </div>
            </div>
            
            <div class="card gold-shadow">
                <img class="card-img-top" src="{{ asset('img/produits d\'exemples/images.jfif') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cosmétiques Bio</h5>
                    <p class="card-text font-helvetica-thin">This card has supporting text below as a natural lead-in to additional
                                          content.</p>
                </div>
                <div class="footer-my-card d-flex justify-content-center">
                    <a href="#" class=" btn-1 font-helvetica-thin p-4 text-uppercase">Voir le produit</a>
                </div>
            </div>
            
            <div class="card gold-shadow">
                <img class="card-img-top" src="{{ asset('img/produits d\'exemples/Coffret-6-Flacons-au-choix.png') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Entretient du foyer</h5>
                    <p class="card-text font-helvetica-thin">This is a wider card with supporting text below as a natural lead-in to
                                          additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="footer-my-card d-flex justify-content-center">
                    <a href="#" class=" btn-1 font-helvetica-thin p-4 text-uppercase">Voir le produit</a>
                </div>
            </div>
        </div>
    </section>
    
{#    Partie offir une Mom's Box#}
    <section class="row">
        
        <div class="my-bg-offer overlay d-flex align-items-center justify-content-center">
            {#            Mon bouton j'offre#}
            <div class="svg-wrapper">
                <svg height="150" width="750" xmlns="http://www.w3.org/2000/svg" >
                    <rect class="shape1" height="150" width="750" />
                    <rect class="shape2" height="150" width="750" />
                    <div class="text-other font-helvetica-thin overlay-2-title text-center text-uppercase">Offrez de la bonne
                                                                                                   humeur quotidienne !</div>
                </svg>
            </div>
            
        </div>
        
        <div class=" col-7 offset-2 mt-5 mb-5">
            <p class="p-to-enlarge">Parce que faire plaisir à autrui signifie aussi se faire plaisir, My Mom's
                                    Box vous propose de
               personnaliser vous-même son contenu pour seulement 30€!
            </p>
        </div>
    
{#        Mon bouton lien animé#}
        <div class="col-12 d-flex justify-content-center">
            <div class="box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <a href="#" class="animate-offer-btn font-allura">J'offre une Mom's Box</a>
                </div>
    
            </div>
        </div>
    </section>
    
{#    Ma section contact#}
    <section class="row contact-section">
        <h1 class="font-helvetica-thin col-10 offset-1 mb-5 mt-5 text-uppercase">Vous avez des questions ?</h1>
    
        <p class="font-helvetica-thin col-4 text-center" style="font-size: 25px;">N'hésitez pas à nous <a
                href="#" class="contact-link">contacter</a> !</p>
    </section>
    
    

{% endblock %}
